<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://twitter.com/stjhimy" target="blank"><span class="username">twitter.com/stjhimy</span></a>
          </li>
          <li>
            <a href="https://github.com/stjhimy" target="blank"><span class="username">github.com/stjhimy</span></a>
          </li>
          <li>
            <a href="https://instagram.com/stjhimy" target="blank"><span class="username">insta.gram/stjhimy</span></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Web developer around the world. Currently working as Ruby developer for Collectrium. <a href="/humans.txt" target="blank">Read more</a> about me.<p>
        <p>My life, my code and everything between it.</p>
      </div>
    </div>

  </div>

</footer>
