<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-3">
        <p>I'm a top rated developer at <a href="upwork.com">upwork.com</a>. I work with Ruby and Elasticsearch at <a href="http://collectrium.com/">http://collectrium.com</a><p>
        <p>Read more <a href="/humans.txt" target="blank">about me</a>.</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="/feed.xml" target="blank"><span class="username">rss</span></a>
          </li>
          <li>
            <a href="mailto:stjhimy@gmail.com" target="blank"><span class="username">email</span></a>
          </li>
          <li>
            <a href="https://twitter.com/stjhimy" target="blank"><span class="username">twitter</span></a>
          </li>
          <li>
            <a href="https://github.com/stjhimy" target="blank"><span class="username">github</span></a>
          </li>
          <li>
            <a href="https://instagram.com/stjhimy" target="blank"><span class="username">instagram</span></a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</footer>
